Source: baby
Section: utils
Priority: optional
Maintainer: Manuel Guerra <ar.manuelguerra@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-go
Standards-Version: 4.7.0
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/manuwarfare/baby
Homepage: https://github.com/manuwarfare/baby
Vcs-Git: https://github.com/manuwarfare/baby.git
Vcs-Browser: https://github.com/manuwarfare/baby

Package: baby
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Abbreviate long commands in terminal
 Option to alias command to short long commands in GNU/Linux terminal.
 You can easily set rules, delete them, list them and update them with
 a clear list of parameters.
