#!/usr/bin/make -f
export GOFLAGS := $(shell dpkg-buildflags --export=cmdline)
export DH_VERBOSE = 1
export GO111MODULE = on
export GOSUMDB = off
export GOCACHE = $(CURDIR)/.cache/go-build
export GOPATH = $(CURDIR)/.go
export GOFLAGS = -modcacherw -mod=vendor
export GOPROXY = off

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f baby
	rm -rf $(CURDIR)/.cache
	rm -rf $(CURDIR)/.go

override_dh_auto_build:
	mkdir -p $(CURDIR)/.cache/go-build
	mkdir -p $(CURDIR)/.go
	go build -buildmode=default -mod=vendor -ldflags='-extldflags=-static' -trimpath -o baby
	strip --strip-unneeded baby

override_dh_auto_install:
	install -D -m 0755 baby debian/baby/usr/bin/baby
	install -D -m 0644 baby.1 debian/baby/usr/share/man/man1/baby.1

override_dh_dwz:
	# No-op

override_dh_strip:
	dh_strip

override_dh_shlibdeps:
	# No-op

override_dh_gencontrol:
	dh_gencontrol -- -VFStdeps=golang-go -Vmisc:Built-Using="" -Vmisc:Static-Built-Using="" -Vshlibs:Depends=""

override_dh_auto_test:

	go test -vet=off -v -mod=vendor ./...

	@echo "DEB_BUILD_OPTIONS: $(DEB_BUILD_OPTIONS)"
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	export GOCACHE=$(CURDIR)/.cache/go-build && \
	cd $(CURDIR) && go test -vet=off -v ./...
endif
